.unsubscribe {
  background-color: rgba(0, 0, 0, 0.342);
  background-image: url("../img/lantern.jpg");
  background-size: cover;
  background-blend-mode: multiply;

  .form-container {
    background-color: white;
    padding: 2em;
    border-radius: 1rem;
    max-width: 400px;
  }

  .btn-container{
      text-align: center;
      .btn {
          width: auto;
      }
  }

  .form > div {
      border-radius: 1rem;
  }
}
